*.c linguist-detectable=true
*.properties linguist-detectable=false
*.mk linguist-detectable=false
*.xml linguist-detectable=false
*.d linguist-detectable=false
*.bash linguist-detectable=false
SWIG linguist-detectable=false
swig linguist-detectable=false
.SWIG linguist-detectable=false
.swig linguist-detectable=false
Makefile linguist-detectable=false
